.item {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.checkbox:checked + .summary {
  text-decoration: line-through;
}

.summary {
  font-size: 14px;
  font-weight: 400;
}

.priority {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-left: auto;
}

.low {
  composes: priority;
  background-color: #69b2f5;
}

.medium {
  composes: priority;
  background-color: #f5e769;
}

.high {
  composes: priority;
  background-color: #f56969;
}
