.item {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #606060;
  margin: 8px;
  padding: 4px 12px;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  display: block;
}

.statusOffline {
  composes: status;
  background-color: red;
}

.avatar {
  border-radius: 7px;
}

.name {
  font-weight: 700;
  font-size: 16px;
}
